@import '../global/variables.scss';
@import '../global/reboot.scss';

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-right: 5vw;
	padding-left: 5vw;
	max-width: $responsiveMaxWidth;

	@media #{$mqMediumAndUp} {
		padding-right: 4vw;
		padding-left: 4vw;
	}

	@media #{$mqXXLargeAndUp} {
		padding-right: 10vw; // 10%
		padding-left: 10vw; // 10%
	}
}
